header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;

}

/* CTA */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    /* align-items: center; */
}

/* Header Socials */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: flex-start; */

    position: absolute;
    gap: 0.8rem;
    justify-content: flex-start;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ME */
.me {
    background: linear-gradient(var(--color-primary),transparent);
    width: 25rem;
    height: 30rem;
    display: block;
    margin: 2rem auto 0 auto;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;

    /* position: absolute;
    left: calc(50% - 11rem); */
}

/* SCROLL DOWN */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}